/* Contenedor principal del menú lateral */
.sidenav-container {
    height: 100vh;
  }
  
  /* Estilos para el menú lateral */
  .sidenav {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  /* Lista de navegación dentro del menú */
  mat-nav-list {
    padding: 0;
  }
  
  mat-list-item {
    font-size: 18px;
    padding: 10px;
    color: #fff;
    transition: background-color 0.3s;
  }
  
  mat-list-item:hover {
    background-color: #444;
    border-radius: 4px;
  }
  
  /* Barra de herramientas superior */
  mat-toolbar {
    background-color: #d219c3;
    color: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }
  
  /* Espacio entre el título y los iconos a la derecha */
  .example-spacer {
    flex: 1 1 auto;
  }
  
  /* Iconos de la barra de herramientas */
  mat-icon {
    color: #fff;
  }
  
  /* Estilos para los botones de icono */
  .example-icon {
    margin-right: 10px;
  }
  
  /* Contenido principal */
  .main-content {
    padding: 20px;
    font-size: 18px;
  }
  