
<mat-sidenav-container class="sidenav-container">
    <!-- Integración del sidebar en el sidenav -->
    <mat-sidenav mode="side" opened class="sidenav">
      <app-toolbar></app-toolbar>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <!-- Barra superior -->
      <mat-toolbar color="primary">
        <span>Bienvenido Griselda Sharely Jiménez Pérez</span>
        <span class="spacer"></span>
        
      </mat-toolbar>
  
      <!-- Contenido principal -->
      <div class="home-container">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Lista de usuarios Escuela</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Rol</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of user | paginate: { itemsPerPage: pageSize, currentPage: page }">
                            <td>{{ user.id }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.role }}</td>
                        </tr>
                    </tbody>
                </table>
    
                <pagination-controls 
                    (pageChange)="page = $event"
                    previousLabel="Anterior"
                    nextLabel="Siguiente">
                </pagination-controls>
    
                <!-- Información sobre la página actual -->
                <div class="mt-2 text-center">
                    Página {{ page }} de {{ (user.length / pageSize) | number: '1.0-0' }}
                </div> <!-- Cierre del div agregado aquí -->
            </mat-card-content> <!-- Este cierre ahora es correcto -->
        </mat-card>
    </div>
    

    </mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-container>