.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    padding: 25px; 
}

mat-card {
    background-color: #ffffff; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
}

mat-card-header {
    background-color: #ad6dea; 
    color: white; 
    padding: 16px;
}

.table {
    margin-top: 16px; 
}

.table th {
    background-color: #a1cbdf; }

.table td {
    vertical-align: middle; 
}
------------------
/* Estilos generales para el contenedor del sidenav */
.sidenav-container {
  height: 100vh; /* Altura completa de la ventana */
}

/* Estilo para el sidenav */
.sidenav {
  width: 250px; /* Ancho del sidenav */
  background-color: #f3e5f5; /* Color de fondo lila claro */
}

/* Barra superior */
mat-toolbar {
  padding: 0 16px; /* Espaciado interno */
  background-color: #aeb9d1; /* Color lila oscuro */
}

/* Espaciador en la barra superior */
.spacer {
  flex: 1 1 auto; /* Permite que el espacio se expanda */
}

/* Estilo para el contenido principal */
.content {
  padding: 16px; /* Espaciado interno del contenido */
}

/* Estilos para las tarjetas del dashboard */
.dashboard-card {
  margin: 10px; /* Margen entre tarjetas */
  transition: transform 0.2s; 
  background-color: #e1bee7; /* Color  tarjetas */
}

.dashboard-card:hover {
  transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
}

/* Estilos para los botones */
.button-primary {
  background-color: #ab47bc; /* Color de fondo lila para botones */
  color: white; /* Color del texto en blanco */
}

.button-primary:hover {
  background-color: #8e24aa; /* Color más oscuro al hacer hover */
}

mat-grid-list {
  margin-top: 20px; }
  .home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.welcome-card {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

img[mat-card-image] {
    width: 200px; 
    height: auto; 
    margin-bottom: 16px; 
}

mat-card-title {
    font-size: 1.8em;
    color: #3f51b5;
    margin-top: 0; }

mat-card-content p {
    font-size: 1.2em;
    color: #555;
}

mat-card-actions {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
