<div class="home-container">
  <mat-card class="welcome-card">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Material Design Image">
      <mat-card-title>Bienvenido</mat-card-title>
      <mat-card-content>
          <p>Este es un inicio con Angular y Material Design.</p>
      </mat-card-content>
      <mat-card-actions>
          <a mat-raised-button color="accent" href="https://material.angular.io/components/categories" target="_blank">Comenzar</a>
      </mat-card-actions>
  </mat-card>
</div>